@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

#root {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-inline: none;
  min-height: 100svh;
  display: block;
}
